{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.
{deps, [
    {lager, {git, "git://github.com/erlang-lager/lager", {branch, master}}}
]}.
{shell, [
    {config, "config/sys.config"},
    {apps, [lager]}
]}.
{relx, [
    {release,
        {"crawler_app", "0.1.0"},
        [xmerl, sasl, inets, crawler_app]
    },
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {sys_config, "config/sys.config"}
]}.
