[
    {crawler, [
        {db, [
            {host, "127.0.0.1"},
            {database, "crawler"},
            {user, "root"},
            {password, "hogehoge"}
        ]}
    ]},

    {lager, [
        {log_root, "log"},
        {handlers, [
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]}
        ]}
    ]}
].
